<h2 class="mt-2"> Selectores anidados 🍃 </h2>
<hr>

<form [formGroup]="myForm">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select
        formControlName="region"
        class="form-control">
        <option value=""> -- Selecciona un Continente -- </option>
        <option *ngFor="let region of regions" [value]="region"> {{ region }} </option>
      </select>
    </div>
  </div>

  <!-- Country -->
  <div  *ngIf="countriesByRegion.length > 0 "
        class="row mb-3">
    <div class="col">
      <label class="form-label">Paises:</label>
      <select
        formControlName="country"
        class="form-control">
        <option value=""> -- Selecciona un Pais -- </option>
        <option *ngFor="let countries of countriesByRegion" [value]="countries.cca3"> {{ countries.name }} </option>
      </select>
    </div>
  </div>

  <!-- Frontera -->
  <div  *ngIf="borders.length > 0"
        class="row mb-3">
<div class="col">
  <label class="form-label">Fronteras:</label>
  <select
    formControlName="border"
    class="form-control">
    <option value=""> -- Selecciona una Frontera -- </option>
    <!-- <option *ngFor="let border of borders" [value]="border"> {{ border }} </option> -->
    <option *ngFor="let countries of borders" [value]="countries.cca3"> {{ countries.name }} </option>
  </select>
</div>
</div>

</form>

<h3>Formulario</h3>
<code>
  {{ myForm.value | json }}
</code>
<p>
  is form valid {{ myForm.valid }}
</p>

